<script type="application/ld+json">
{
  "@context": "http://www.schema.org",
  "@type": "product",
  "brand": "Aaron Gustafson",
  "name": "Adaptive Web Design: Crafting Rich Experiences with Progressive Enhancement",
  "image": "http://adaptivewebdesign.info/1st-edition/cover-320.png",
  "description": "In this brief book, Aaron Gustafson chronicles the origins of progressive enhancement, its philosophy, and mechanisms, and reveals the countless practical ways that you can apply progressive enhancement principles using HTML, CSS, and JavaScript. By understanding progressive enhancement and how to apply it properly, web practitioners can craft experiences that serve users (rather than browsers), giving them access to content without technological restrictions."
}
 </script>