<script type="application/ld+json">
{
  "@context": "http://www.schema.org",
  "@type": "product",
  "brand": "Aaron Gustafson",
  "name": "Adaptive Web Design: Crafting Rich Experiences with Progressive Enhancement, Second Edition",
  "image": "http://adaptivewebdesign.info/2nd-edition/cover-320.png",
  "description": "Building an elegant, functional website requires more than just knowing how to code. In Adaptive Web Design, Second Edition, you’ll learn how to use progressive enhancement to build websites that won’t break, work anywhere, are accessible by anyone—on any device, and are designed to work well into the future."
}
 </script>