/* -----------------------------------------------
 * Easy Readers
 * Stylesheet for IE <= 7
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * ----------------------------------------------- */

body {
	overflow: auto;
}

.clearfix {
 background: transparent;
 position: relative;
 left: -999em;
}

button span,
a.button span {
 white-space: nowrap;
}

#top,
.cart #top {
    margin-top: 60px;
}

article.book-preview {
	width: 104%;
}

#order-options td.actions {
	text-align: center;
}
a.button {
	text-align: center;
}

#free-preview {
	padding-top: 10px;
}

#reviews ul {
    margin-bottom: 0;
}

#reviews li {
	width: 100%;
}

#social-links li {
	height: 50px;
}
