body {
    padding: 30px 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

abbr {
    cursor: help;
}
        
/* buttons */

button, 
a.button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}

    button span, 
    a.button span {
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        display: inline-block;
        padding: 0.9em 1.1em;
        cursor: pointer;
    }

	button::-moz-focus-inner {
		border: none;  /* overrides extra padding in Firefox */
	}
	

/* grid */

#content,
#order,
#top,
#bottom .wrapper,
#easy-network ul {
    max-width: 940px;
    width: 96%;
		margin: 0 auto;
}

#order {
	width: 100%;
}

#order-options,
#print-specs,
#table-of-contents {
	max-width: 400px;
	margin: 0 auto 20px;
}

#bottom {
    clear: both;
}

/* header */
#top {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.cart #top {
		margin-top: 80px;
}

    #top p {
        margin: 0;
        float: left;
        display: block;
        overflow: hidden;
        text-indent: -100em;
        height: 51px;
    }
    
    #top .logo {
        width: 310px;
        margin-right: 0.5em;
    }

    #top .tagline {
        width: 128px;
				position: relative;
				top: -2px;
    }
    
/* content */

#content section,
#print-specs,
#table-of-contents {
	padding-top: 50px;
}

#content section {
    clear: both;
}

section#order {
	padding-top: 45px;
}
section#reviews {
	padding-top: 65px;
}

#content section header {
    padding: 0 10px 9px;
    margin: 0 -10px;
    width: 100%;
    border-bottom: 1px solid;
}

#content #order header,
#content section.author header {
    padding: 0;
    margin: 0;
    border: none;
}

#content section .entry-content {
    border-top: 1px solid;
    overflow: hidden;
    padding: 12px 10px 0;
    margin: 0 -10px;
    width: 100%;
}

#order .entry-content,
#content section.author .entry-content,
#content #order .entry-content {
    border-top: none;
    padding: 0;
    margin: 0;
}

.book-preview {
    width: 100%;
}

#content h1,
#content h2 {
	text-align: center;
}


#content figure {
		width: 332px;
		height: auto;
		margin: 0 auto 10px;
}

#content figure img {
		height: auto;
}

.book-preview figure {
	position: relative;
}

.book-preview figure img {
		width: 100%;
		margin-left: -5%;
}

.book-preview #net-feature {
	position: absolute;
	top: -9px;
	left: 37px;
	background: url(/i/adaptive-web-design/voted-banner.png) top left no-repeat;
	width: 90px;
	display: block;
	height: 156px;
	text-indent: -999em;
}

.book-preview h1 {
    margin-bottom: 2px;
		text-align: center;
}

.book-preview h2 {
    margin-bottom: 6px;
		text-align: center;
}

.book-preview .author {
    margin-bottom: 3px;
		text-align: center;
}

.book-preview .contributor {
    margin-bottom: 6px;
		text-align: center;
}

.book-preview blockquote {
	  max-width: 440px;
	  margin: 30px auto 20px;
		padding-left: 1.45em;
    position: relative;
}

.book-preview blockquote:before {
    content: '“';
    position: absolute;
    left: 0;
    top: -0.35em;
}

#free-preview {
	clear: both;
	max-width: 300px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
  padding-top: 40px;
  text-align: center;
}

#free-preview b,
#free-preview i {
    display: block;
}

#free-preview a.button {
    margin-top: 10px;
}

#free-preview a.button {
    position: relative;
}

#free-preview a.button span {
    padding-right: 1.25em;
}

#free-preview a.button mark {
    position: absolute;
    bottom: -29px;
    right: -27px;
    width: 54px;
    height: 56px;
    overflow: hidden;
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
}

/* orders */
#order-options table {
	margin: 0;
}
#order table th {
	padding: .9em .5em .9em 0;
}
#order table td {
  padding: .9em 0 .9em .5em;
}
#order .price {
	white-space: nowrap;
}
#order-options .description {
	margin-right: -60px;
}

/* =Share */
ul#share {
	clear: both;
	line-height: 24px;
	list-style: none;
	margin: 2em 0;
	text-align: center;
}
#share li {
	display: inline-block;
	height: 24px;
	width: auto;
	margin-right: 10px;
	vertical-align: middle;
}

/* =Print Specs */
#print-specs h1 {
    padding: 0 10px .4em;
    margin: 0 -10px .4em;
    border-bottom: 1px solid;
}


/* =TOC */
#table-of-contents ol {
	line-height: 1.5em;
}

/* =Project Files */
#project-files .button {
	margin-top: .5em;
}

/* =Reviews */
#reviews li {
	float: left;
	clear: both;
}

#reviews blockquote p {
	text-indent: -.45em;
}

#reviews blockquote p+p {
	text-indent: 1em;
}

blockquote p.reviewer {
	font-style: normal;
    margin-top: 0.5em;
	float: right;
	width: 80%;
}

#reviews blockquote p.reviewer {
	text-indent: 0;
}
 
blockquote p.reviewer:before {
    content: "— ";
	margin-left: -1.1em;
}

#reviews blockquote p.reviewer b.role {
  display: block;
}

blockquote p.reviewer cite {
		font-style: italic;
}

article header h1 {
    margin: 0 auto;
}

#content section header h2 {
    margin: -0.5em auto 0;
}

article .entry-content p {
    margin: 0 auto 1em;
}

article .entry-content blockquote p {
    margin-bottom: 0;
}

.caps i {
    margin-left: -0.1em;
}

section.author figure img {
    border: 20px solid;
    display: block;
		margin-top: -12px;
}

#reviews ul {
	padding: 0 10px 0 15px;
}

#reviews ul.col-1 {
    margin-left: 0;
}

#reviews ul li {
    margin: 0 0 40px;
}

#reviews h2 {
	clear: both;
  padding: 40px 10px 9px;
  margin: 0 -10px 12px;
  width: 100%;
  border-bottom: 1px solid;
}
#reviews ul#tweets {
	margin-left: 0;
	width: auto;
}
#tweets li {
	clear: right;
	width: 100%;
}



/* =Contributors */
#contributors figure img {
    border: 10px solid;
    display: block;
    float: left;
    margin: -20px 20px 6px 0;
    width: 120px;
    height: 120px;
}

#contributors .vcard {
	clear: both;
	padding-top: 20px;
}

.rgba section.author figure img,
.rgba #contributors figure img {
    border: none;
    padding: 20px;
}

#contributors figure {
  display: inline;
}

section.author figure img,
#contributors figure img {
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#contributors ul {
    width: 100%;
    margin-bottom: -40px;
}

#contributors ul li {
    margin: 0 0 40px;
}

#contributors ul li .fn {
    display: inline-block;
    clear: both;
}



/* footer */

#bottom {
    padding: 30px 10px;
    margin: 14px auto 0;
}

#bottom section {
    clear: left;
}

#bottom #bottom-about {
    margin-bottom: 10px;
}

#bottom h1 {
    margin: 0 auto 0.5em;
}

#bottom p {
	margin-top: -.2em;
	line-height: 1.5em;
}

#bottom ul {
    margin-top: -0.25em;
}

#bottom li {
    margin: 0 auto 0.4em;
}

#bottom small {
    display: block;
    margin-top: 0.6em;
}

/* Network Links */
#social-links {
	overflow: hidden;
}

#social-links li {
	float: left;
	margin: 20px 10px 0 0;
}
#social-links li a {
	background: top left no-repeat;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	width: 30px;
	height: 30px;
}

#easy-network {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
	overflow: hidden;
}

#easy-network ul {
    padding: 0;
}

#easy-network ul li {
    float: left;
    margin: 0 35px 0 0;
}

#easy-network ul li a {
    display: block;
    padding-left: 18px;
    height: 30px;
}

#easy-network ul li.easy-designs a {
    padding-left: 25px;
}

#easy-network ul li.r4g {
    margin-right: -35px;
}

#easy-network ul li.r4g a {
    padding-left: 15px;
}

/* inline cart */

#cart {
    position: absolute;
    top: 30px;
    left: 0;
		right: 0;
    z-index: 100;
    padding: 18px 20px;
    overflow: hidden;
}

#cart .description {
    padding-left: 26px;
    min-height: 20px;
    float: left;
}

#cart ul  {
    float: right;
}

/* cart & checkout pages */

#shopping-cart table caption,
#checkout table caption {
    margin-left: 0;
    margin-right: 0;
}

#shopping-cart table tbody th,
#shopping-cart table tbody td,
#checkout table tbody th,
#checkout table tbody td {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#shopping-cart td.qty input {
    width: 4em;
}

.error {
	margin-left: .5em;
}

#checkout .buttons {
    margin-top: 1em;
}

#checkout table tbody th {
    padding-left: 0.5em;
}

#checkout table caption {
    padding: 0 .5em .5em;
}

#checkout #content header p {
    margin: 0 auto 1em;
}

#checkout .cart .description {
	width: 75%;
}
table.cart label {
	display: inline;
	margin-right: .5em;
}

/* forms */

form {
    display: block;
}

form .notice,
form fieldset,
form fieldset ol li {
    margin: 0 auto 1em;
}

form .notice li,
form .notice p {
    margin: 0 auto 0.5em;
}

form fieldset {
    border-top: 1px solid;
}

form fieldset legend {
    display: block;
    padding: 0 0.25em 0.5em 0;
}

form label {
    display: block;
}

form .email input,
form .text input,
form textarea {
    padding: 3px;
    border: 1px solid;
    width: 100%;
		max-width: 460px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
		-o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#checkout header h1 {
	padding-left: 8px;
}
#contact header h1 {
	padding-left: 10px;
}
#contact form {
	margin-top: .85em;

}
#contact form fieldset {
	padding-top: 1em;
	padding-left: .75em;
}

form .notice {
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 0 0 1em;
	padding: .7em .9em;
}
form fieldset .notice {
	margin-left: -.75em;
}
form .notice li {
	margin-left: 1em;
}
form .notice p, form .notice ol {
	margin: 0;
}

#faq #content h1 {
	border-bottom: 1px solid;
	padding: 2px 0 11px 10px;
}
#faq #content section {
	padding-top: 15px;
	padding-left: 10px;
}
#faq #content section h1 {
	text-align: left;
	border: 0;
	padding: 0;
}

@media screen and (min-width:46em) {
	ul#tweets li {
		margin-right: 40px;
		width: 47%;
	}
	ul#tweets li:nth-child(2n+1) {
		clear: left;
	}
	ul#tweets li:nth-child(2n+2) {
		margin-right: 0;
	}
}

@media screen and (min-width:65.3333em) {
	.cart #top {
		margin-top: 30px;
	}
	#order, #free-preview, #table-of-contents, #print-specs {
		max-width: none;
	}
	#order aside,
	section.author figure {
	    width: 333px;
	    float: left;
			clear: left;
	}
	.book-preview {
	    margin-left: -62px;
	    padding-left: 62px;
	    min-height: 489px;
	}
	.book-preview h1,
	.book-preview h2,
	.book-preview .author,
	.book-preview .contributor,
	.book-preview blockquote,
	#free-preview {
	    margin-left: 380px;
	}
	#content figure {
			width: auto;
			height: auto;
			margin: 0;
	}
	#content .book-preview figure {
	    float: left;
	    margin: 10px 30px 0 -62px;
	}
	.book-preview figure img {
	  	width: auto;
			margin-left: 0;
	}
	.book-preview #net-feature {
		left: 75px;
	}
	#content h1,
	#content h2,
	.book-preview h1,
	.book-preview h2,
	.book-preview .author,
	.book-preview .contributor {
			text-align: left;
	}
	.book-preview blockquote {
		  max-width: none;
			padding-left: 0;
	}
	.book-preview blockquote:before {
	    left: -.45em;
	}
	blockquote p.reviewer {
		width: auto;
	}
	#free-preview {
		clear: right;
		text-align: left;
	}
	#free-preview .pitch {
	    float: left;
	}
	#free-preview a.button {
	    float: right;
	    margin-top: 4px;
	}
	#free-preview a.button mark {
	    top: -29px;
			bottom: auto;
	}
	ul#share {
		clear: right;
		margin: 1em -10px 0 0;
		padding: 10px 0 0;
		text-align: right;
	}
	#order article,
	section.author article {
	    width: 560px;
	    float: right;
	}
	#print-specs {
		clear: right;
	}
  #contributors h1,
	#reviews h1 {
		text-align: center;
	}
	#contributors ul {
	    overflow: hidden;
	    margin-bottom: -40px;
	}
	#contributors .vcard {
		clear: none;
		padding-top: 0;
	}
	#contributors figure img {
	    float: left;
			margin-top: 0;
	}
	#contributors ul li:nth-child(n+1) figure img {
	    width: auto;
	    height: auto;
	    margin-right: 0;
	}
	#contributors ul li:nth-child(n+1) {
	    float: left;
	    margin-left: 155px;
	    width: 210px;
	}
	#contributors ul li:nth-child(3n+1) {
	    margin-left: 0;
	}
	#contributors ul li:nth-child(3n+1) {
	    clear: both;
	}
	#contributors ul li:nth-child(3n+1):not(:first-child) {
	    margin-left: 150px;
	}
	#reviews ul {
			float: left;
	    width: 450px;
			padding: 0;
	    margin-left: 40px;
	    margin-bottom: -40px;
	}
	#reviews ul#tweets li {
		margin-right: 40px;
		width: 287px;
		clear: none;
	}
	#reviews ul#tweets li:nth-child(3n+1) {
		clear: left;
	}
	#reviews ul#tweets li:nth-child(3n+3) {
		margin-right: -1px;
	}	
	#reviews blockquote p.reviewer {
		text-indent: 0;
		width: 60%;
	}
	#bottom {
	    padding: 30px 0;
	    margin: 74px auto 0;
	}
	#bottom .wrapper {
	    overflow: hidden;
	}
	#bottom section {
	    clear: none;
		float: left;
	    width: 450px;
	    margin: 0 0 0 40px;
	}
	#bottom #bottom-about {
	    margin-left: 0;
			margin-bottom: 0;
	}
	#cart {
	    position: absolute;
	    top: 0;
	    left: auto;
			right: 50%;
	    margin-right: -479px;
	    z-index: 100;
	    width: 228px;
	    padding: 46px 20px 18px;
	    overflow: hidden;
	}
	#faq #content section {
		width: 650px;
	}
}