@-moz-document url-prefix() {
	
	/* GENERATED CONTENT - FF3 doesn't allow positioning */
	/* ornaments */
	.book-preview blockquote:before {
		content: '';
	}	
	.book-preview blockquote:first-of-type:before {
		content: '“';
	}
	
	/* Fonts */
	.hproduct h1.fn {
		letter-spacing: 0;
	}
	.hproduct h1.fn:first-of-type {
		letter-spacing: -0.069em;
	}
	
	/* Layout */
	#contributors ul li {
	    float: left;
	    margin-left: 155px;
	    width: 210px;
	}
	#contributors img {
	    width: 170px !important;
			height: 170px !important;
	}

}