@font-face {
	font-family: 'PT Serif Caption'; 
	font-weight: normal;
    font-style: normal;
	src: url('/c/PTZ55F_W.eot');
	src: local('PT Serif Caption'),
		 local('PTSerifCaption'),
		 url('/c/PTZ55F_W.eot?#iefix') format('embedded-opentype'),
		 url('/c/PTZ55F_W.woff') format('woff'),
		 url('/c/PTZ55F_W.ttf') format('truetype'), 
		 url('/c/PTZ55F_W.svg#PTSerifCaptionRegular') format('svg');
}
@font-face {
	font-family: 'PT Serif Caption';
	font-weight: normal;
	font-style: italic; 
	src: url('/c/PTZ56F_W.eot');
	src: local('PT Serif Caption Italic'),
		 local('PTSerifCaption,Italic'),
		 url('/c/PTZ56F_W.eot?#iefix') format('embedded-opentype'),
		 url('/c/PTZ56F_W.woff') format('woff'),
		 url('/c/PTZ56F_W.ttf') format('truetype'), 
		 url('/c/PTZ56F_W.svg#PTSerifCaptionItalic') format('svg');
}

body {
    font-family: Georgia, sans-serif;
    line-height: 1.27;
    font-size: 93.75%; /* sets the base to 15px */
    /* text-rendering: optimizeLegibility; - older WebOS can’t handle */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a, button {
	cursor: pointer;
}


p, li,
#cart li,
#contributors .vcard {
	line-height: 1.5;
}

p.pitch {
	line-height: 1.09;
}
    
/* fonts */

.amp {
    font-family: "AGaramondAlt Italic", Baskerville, "Goudy Old Style", "Palatino Linotype", Palatino, "Book Antiqua", Cambria, serif;
	font-style: italic;
}

#easy-network,
button span,
a.button span {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
}

.book-preview,
#free-preview,
#contact h1,
#print-specs h1,
#reviews h2,
table caption,
table.cart thead th,
article header,
#bottom h1 {
    font-family: 'PT Serif Caption', Georgia, serif;
}

.book-preview blockquote,
form .email input,
form .text input,
form textarea {
    font-family: Georgia, serif;
}

/* styles & weights */

cite,
.amp,
#free-preview i,
.book-preview .author i,
.hproduct blockquote {
    font-style: italic;
}

.book-preview blockquote:before,
.hproduct blockquote cite {
    font-style: normal;
}

#easy-network ul li,
#cart a,
form .failure a,
form label,
a.button span,
button span,
#print-specs strong {
    font-weight: bold;
}

#content section header h2 {
    font-weight: normal;
}

/* sizes */

button span,
a.button span,
del,
.change {
    font-size: 0.7334em; /* 11px */
}

#easy-network ul li,
#cart {
    font-size: 0.8em; /* 12px */
}

#order .description,
#bottom-about p,
#bottom small {
    font-size: 0.8667em; /* 13px */
}

button,
a.button,
#faq #content section h1 {
    font-size: 1em; /* 15px */
}

.hproduct blockquote,
form .email input,
form .text input,
form textarea {
    font-size: 1.13333em; /* 17px */
}

#order table caption h2 {
    font-size: 1.2em; /* 18px */
}

.book-preview .contributor {
    font-size: 1.267em; /* 19px */
}

#bottom h1 {
    font-size: 1.334em; /* 20px */
}

#content section header h2 {
    font-size: 1.4667em; /* 22px */
}

.book-preview .author,
#free-preview {
    font-size: 1.6em; /* 24px */
}

article header h1,
#content h1,
#reviews h2 {
    font-size: 1.7334em; /* 26px */
}

#order table caption h1,
#print-specs h1 {
    font-size: 1.8em; /* 27px */
}

.book-preview h2 {
    font-size: 2em; /* 30px */
}

#content article.book-preview header h1 {
    font-size: 3.867em; /* 58px */
}

/* size overrides, these need to be after their parent rule */

.book-preview blockquote:before {
    font-size: 3.5em; /* relative to parent */
}

#free-preview i {
    font-size: 0.91666em; /* 22px relative to parent */
}

#free-preview a.button span {
    font-size: 0.625em; /* 15px relative to parent */
}

.book-preview .author i {
    font-size: 0.791em; /* 19px relative to parent */ 
}

/* alignments */

table .price,
table td.actions,
#cart ul,
#checkout .buttons {
    text-align: right;
}

table .price {
	white-space: nowrap;
}

table caption,
table th,
#checkout thead th.description {
    text-align: left;
}

#contributors header,
#reviews header,
#reviews .entry-content h2,
#shopping-cart .qty input,
#checkout .quantity {
    text-align: center;
}

/* misc */

button span,
a.button span {
    text-transform: uppercase;
    line-height: 1.12;
		letter-spacing: .1em;
}

.textshadow button span,
.textshadow a.button span {
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
    
article.book-preview header h1,
article.book-preview header h2 {
    font-weight: normal;
    letter-spacing: -.069em;
    text-transform: none;
}

article.book-preview header h2 {
    line-height: 1.1;
    letter-spacing: 0;
}   
    
.book-preview blockquote {
    line-height: 1.4;
}

#easy-network ul li {
    line-height: 30px;
}

#free-preview a.button span {
    letter-spacing: 0.1em;
}

#order tbody th,
#cart {
    line-height: 1.1;
}

.caps {
    letter-spacing: 0.1em;
}

article header h1,
#faq #content section h1,
#reviews h2 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
#easy-network ul li {
    text-transform: uppercase;
}

button span,
a.button span {
    white-space: nowrap;
}

#adaptive-web-design-preview #free-preview a.button mark {
    text-indent: -999em;
}

#faq #content p {
	margin-bottom: 1em;
}
#faq #content section h1 {
	letter-spacing: .1em;
	margin-bottom: .3em;
}

/* tables */
table {
    width: 100%;
		margin: 1em 0;
}

    table caption {
        padding: 0 10px 0.9em;
        margin: 0 -10px;
        border-bottom: 1px solid;
    }
    
    table tbody:first-child,
    table thead {
        border-top: 1px solid;
        margin: 0 -10px;
        width: 100%;
        padding: 0 10px;
    }
    
        table th,
        table td {
            padding: 0.5em;
        }
    
        table tbody td.actions {
            padding-right: 0;
        }

@media ( max-width: 47.9375em )
{
    table.cart {
        border: 0;
        border-bottom-style: solid;
        border-bottom-width: 0.0625em;
        padding-bottom: 1.25em;
        padding-bottom: 0;
        display: block;
        width: 100%;
    }

    table.cart caption {
        display: block;
        margin-bottom: 1em;
    }
    table.cart thead {
        display: none;
    }
    
    table.cart tfoot td[align] {
        font-weight: bold;
    }
    
    table.cart tr,
    table.cart th,
    table.cart td {
        border: 0 !important;
        display: block;
        padding: 0 0 .25em;
        text-align: left;
    }
    
    table.cart tr {
      margin-bottom: 1.3125em;
    }
    
    table.cart td {
      white-space: normal;
    }
    
    table.cart th[data-title]:before,
    table.cart td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
    }
    
    table.cart th:not([data-title]) {
      font-weight: bold;
    }
}