<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Language" content="en"/>

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}" media="all">
	<link rel="stylesheet" href="{{ "/css/advanced.css" | prepend: site.baseurl }}" media="only screen">
	<link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}" media="only screen" async>
	<!--[if lte IE 8]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<link rel="stylesheet" href="{{ "/css/old-ie.css" | prepend: site.baseurl }}" media="all">
	<![endif]-->

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Open Graph -->
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:title" content="{{ site.title }}: {{ site.subtitle }}"/>
	<meta property="og:url" content="http://adaptivewebdesign.info"/>
	<meta property="og:type" content="book"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta property="og:image" content="{{ site.book_photo }}"/>
	<meta property="fb:admins" content="100002880350996"/>

	<!-- Twitter -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:creator" content="AaronGustafson">
	<meta name="twitter:title" content="{{ site.title }}: {{ site.subtitle }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image:src" content="{{ site.book_photo }}">
	<meta name="twitter:image:width" content="320px">
	<meta name="twitter:image:height" content="495px">
	<meta name="twitter:domain" content="AdaptiveWebDesign.info">
			        
	<!-- Facebook -->
	<meta property="fb:admins" content="100002880350996"/>

	<!-- Google Plus -->
	<meta itemprop="image" content="{{ site.book_photo }}"/>

</head>
