<li class="h-review">
	<blockquote class="e-description twitter-tweet"
				cite="{{ tweet.url }}"
				{% if tweet.lang %}lang="{{ tweet.lang }}"{% endif %}
				data-cards="hidden"
				data-conversation="none"
				data-dnt="true"
				data-id="{{ tweet.url | split:'/' | last }}"
				>
		{{ tweet.text | markdownify }}
		<p class="p-reviewer h-card">
			<a href="{{ tweet.author_url }}">{{ tweet.author_name }}</a>
			<b class="hidden"> on <a href="{{ tweet.url }}"><time datetime="{{ tweet.date }}">{{ tweet.date | date: '%d %B %Y' }}</time></a></b>
		</p>
	</blockquote>
	<object class="hidden include p-item"></object>
</li>