---
layout: default
title: Reviews of the First Edition
description: Folks had some very nice things to say about the First Edition of Adaptive Web Design.
permalink: /1st-edition/reviews/
---

<p>The first edition of <cite class="h-product">Adaptive Web Design</cite> garnered a lot of praise. Here is a sampling of what folks had to say.</p>

<section id="cover" class="section">
	<h2 class="section__title">From the Cover</h2>

	<ul class="reviews">
		{% for review in site.data.cover-reviews-1st-edition %}
			{% include review.html %}
		{% endfor %}
	</ul>
</section>

<section id="reviews" class="section">
	<h2 class="section__title">On the Web</h2>

	<ul class="reviews">
		{% for review in site.data.reviews-1st-edition %}
			{% include review.html %}
		{% endfor %}
	</ul>
</section>

<section id="tweets" class="section">
	<h2 class="section__title">On Twitter</h2>
	
	<ul class="tweets">
		{% for tweet in site.data.tweets-1st-edition %}
			{% include tweet-embed.html %}
		{% endfor %}
	</ul>
</section>
