/* =Fonts */
@font-face {
	font-family: "Fanwood Text";
	font-style: normal;
	font-weight: normal;
	src:url("FanwoodText.otf");
}
@font-face {
	font-family: "Fanwood Text";
	font-style: italic;
	font-weight: normal;
	src:url("FanwoodText-Italic.otf");
}
@font-face {
	font-family: "Ostrich Sans";
	font-style: normal;
	font-weight: normal;
	src:url("OstrichSans-Medium.otf");
}
@font-face {
	font-family: "Ostrich Sans";
	font-style: normal;
	font-weight: bold;
	src:url("OstrichSans-Black.otf");
}
@font-face {
	font-family: "League Gothic";
	font-style: normal;
	font-weight: normal;
	src:url("League-Gothic.otf");
}
@font-face {
	font-family: "League Gothic";
	font-style: normal;
	font-weight: bold;
	src:url("League-Gothic.otf");
}
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: normal;
	src:url("Inconsolata.otf");
}

/* =Viewports */
@-moz-viewport{
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport{
    width: device-width;
    zoom: 1.0;
}
@-o-viewport{
    width: device-width;
    zoom: 1.0;
}
@-webkit-viewport{
    width: device-width;
    zoom: 1.0;
}
@viewport{
    width: device-width;
    zoom: 1.0;
}

/* =Reset */
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
html,body{font-size:100%;font:inherit;line-height:1;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}


/* =Typography */
body {
	font-family: "Fanwood Text", Baskerville, serif;
	font-size: 120%;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6,
.byline,
.ch-quote .author,
.check-list,
.footnote-superscript-override,
figcaption strong,
.takeaway,
#copyright h1 {
	font-family: "League Gothic", "Gill Sans", sans-serif;
}
h1 strong, thead th,
.subsection h1 {
	font-family: "Ostrich Sans", "Gill Sans", sans-serif;
}
pre, code,
.url {
	font-family: "Inconsolata", monospace !important;
}


/* =Sizes */
h1 {
	font-size: 3em;
}
h2,
.subsection h1,
.byline {
	font-size: 2em;
}
h3, thead th {
	font-size: 1.5em;
}
h4, h5, h6, ul, ol, dl,
em, dfn, b, cite, strong, a, kbd,
.ch-quote p,
.takeaway {
	font-size: 1em;
}
code, td,
figcaption strong,
.ch-quote .author,
.url {
	font-size: .9em;
}
p, li, dt, dd, th, td {
	font-size: 1em;
}
pre, h1 strong,
#footnotes li {
	font-size: .8em;
}
.credit {
	font-size: .8em;
}


dl.checklist {
    position: relative;
    padding-left: 1.75em;
    width: auto;
}

/* =Weights */
h1, h2, strong, thead th, dt,
.byline,
.ch-quote .author {
	font-weight: bold;
}
h3, h4, h5, h6, h1 strong,
#copyright h2,
#title-page h2 {
	font-weight: normal;
}


/* =Style */
cite, em,
figcaption p {
	font-style: italic;
}
figcaption strong,
figcaption cite {
	font-style: normal;
}


/* =Leading */
h2 {
	line-height: 0.91;
}
h1 {
	line-height: 0.93;
}
h1 strong,
.subsection h1 {
	line-height: 1;
}
.ch-quote .author {
	line-height: 1.23;
}
.ch-quote p {
	line-height: 1.28;
}
p, li, dt, dd, pre, td {
	line-height: 1.5;
}
thead th {
	line-height: 1;
}



/* =Misc */
h1 strong, dt, dd {
	display: block;
}
code, pre, .url {
	letter-spacing: -.03em;
}
h1, h2,
h1 strong, thead th,
.byline,
.ch-quote .author,
.check-list,
.footnote-superscript-override,
figcaption strong,
.takeaway {
	letter-spacing: .04em;
}
#copyright h1,
#copyright h2 {
	letter-spacing: normal;
}
figure {
	text-align: center;
}
h1, h2, h3, h4, h5, h6, figcaption, th, td {
	text-align: left;
}
.ch-quote .author,
.credit {
	text-align: right;
}
#footnotes .backlink {
	text-decoration: none;
}
a {
  text-decoration: underline;
}
h1, h2, thead th,
.subsection h1,
.ch-quote .author {
	text-transform: uppercase;
}
table {
	max-width: 100%;
}
code, pre, .url {
	white-space: pre-wrap;
}
ol {
	list-style: decimal;
	padding-left: 1em;
}


/* =Images & videos */
img, video {
	max-width: 100%;
	max-height: 100%;
}


/* =Layout */
.page {
	padding: 1em;
}
.page:only-of-type {
	padding: 0;
}
header {
	margin: -1em -1em 2em;
	padding: 1.25em 1em .75em;
	position: relative;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1 {
	margin: 0 0 .5em 0;
}
header h1 {
	margin: 0;
}
h1 strong {
	margin-bottom: .1em;
}
* {
    margin: 0;
}
* + * {
    margin-top: 1.25em;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + div,
* + p,
* + pre,
* + ol,
* + ul,
* + dl,
* + figure,
* + footer {
	margin-top: 1.25em;
}
figcaption {
	border-top: 1px solid;
	margin: 1em 0 0;
	padding: 1em 0 0;
}
figcaption p {
	margin: 0;
}
pre {
	padding: 0 1em;
}
div.page:only-of-type dl {
	padding-left: 1.25em;
	margin: 0;
	position: relative;
}
b.checkbox:only-of-type {
	display: block;
	position: absolute;
	left: .25em;
	top: .25em;
	border: 1px solid #000;
	width: .75em;
	height: .75em;
}
dt, dd {
	padding-right: 20%;
}
dd {
	margin-bottom: 1em;
}
table {
  border-collapse: collapse;
	width: 100%;
}
thead th {
	border-right: 3px solid #fff;
	padding: .5em .55333em .3em;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}
thead th:last-child {
	border-right: 0;
}
td {
	padding: 1em;
}
tbody td {
	border-bottom: 1px solid;
}
tbody tr:last-child td {
	border-bottom-width: 0;
}
table + figcaption {
	margin-top: 0;
}
.takeaway strong, .ch-quote {
	display: block;
	max-width: 460px;
	padding: 0 1em;
	margin: 0 auto 2em;
}
.ch-quote p {
	text-indent: -.44em;
	margin: 0 0 .5em .44em;
}
.ch-quote .author {
	margin: 0;
}
.takeaway strong {
	margin-bottom: 1.25em;
}
.credit {
	margin: 0em 0em 0.82em 0em;
}
figure, .keep, dl {
	display: inline-block;
	width: 100%;
}
dt, dd {
	display: block;
}
#footnotes {
	list-style: none;
	padding-left: 0;
}
#footnotes li {
	margin: 0.53em 0;
}


/* =Page Overrides */
#title-page h1 {
	font-size: 4em;
	margin-bottom: 0;
}
#title-page h2,
.byline {
	font-size: 2em;
	line-height: 1;
	text-transform: none;
	margin-top: .3em;
}
#copyright h1 {
	margin-bottom: .25em;
}
#copyright h2 {
	font-size: 1.33em;
	margin: 0;
	text-transform: none;
}
#copyright p {
	font-size: 0.75em;
	line-height: 1.39em;
	margin: 0.68em 0;
}
#dedication {
	padding: 10em 0 0;
	text-align: center;
}
#title-page img,
#about-the-author img {
	width: 250px;
}

/* =Colors */
body {
	color: #000000;
}
header {
	background-color: #7ABC31;
	color: #ffffff;
}
h1,
#title-page h2,
.byline {
	color: #094E55;
}
header h1 {
	color: inherit;
}
h2, h3, h4, h5, h6,
.subsection h1,
.takeaway strong {
	color: #3C9434;
}
a {
	color: inherit;
}
a, pre, code, .url {
	color: #0B6482;
}
.text, .comment {
	color: #666666;
}
figure, td, tfoot, #footnotes {
	color: #5A5B5A;
}
thead th {
	background: #D6E7AC;
	color: #3C9434;
}
figcaption,
tbody td {
	border-color: #9F9F9E;
}

/* =Page Topper */
#page-topper h1 {
    font-size: 2em;
    margin-bottom: 0;
}
#page-topper h2 {
	color: #094E55;
    font-size: 1em;
	line-height: 1;
	text-transform: none;
	margin-top: .3em;
}
#page-topper .byline {
    font-size: 1.5em;
}

/* =Navigation */
nav {
    border-top:  1px solid #ebebeb;
    padding: 2em;
}
nav h1 {
    margin: 0;
}

